body{
    background-image:url(4424991.png) ;
     background-repeat: no-repeat;
    
}
canvas{
    position: absolute;
    opacity: 1.5;
    top:40%;
    left: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
    background-image:url(map.png) ;
    background-repeat: no-repeat;
    background-position: bottom;
}
@media only screen and (max-width: 1600px) {
    body {
        background-image:url(442499.png) ;
        background-repeat: no-repeat;

    }
    /* canvas{
        position: absolute;
        opacity: 1.5;
        top:40%;
        left: 50%;
        background-color: black;
        transform: translate(-50%, -50%);
        background-image:url(map.png) ;
    } */
  }